<!--Assignment 1
Student: Gurvir Singh 301108852
Course: Web Application Development SEC.004  COMP229004-2020F
Date: October 09, 2020 -->



<%- include partials/header.ejs%>
  
<%- include partials/mainNav.ejs%>

   <!--Main Content of the Page-->
  <main class="container">
    <div style="background-color: white">
      <h1 style="text-align-last: center; color: goldenrod; margin-top: 2cm; " class="display-5">  <%= title %>  </h1>
      <hr class="my-4">
    </div>
  </main>


   <div style="width: 780px; margin-left: auto; margin-right: auto; margin-top: 2cm; margin-bottom: 5cm;">

    <div class="card" style="width: 18rem; display: block; float: left;  ">
  <img  src="\assets\images\img1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">C# and Javascript general programming</p>
  </div>
  </div>

  <div class="card" style="width: 18rem;  display: block; float: right; ">
  <img  src="\assets\images\img2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Web Development</p>
  </div>
  </div>

   </div><br><br>


   <div style="width: 780px; margin-left: auto; margin-right: auto; margin-bottom: 10cm; margin-top: 3cm;">

    <div class="card" style="width: 18rem; display: block; float: left;  ">
  <img style="height: 170px;" src="\assets\images\img3.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Database Management</p>
  </div>
  </div>

  <div class="card" style="width: 18rem;  display: block; float: right; ">
  <img style="height: 170px;" src="\assets\images\img4.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Mobile App Development</p>
  </div>
  </div><br><br>

   </div>
   

 
<%- include partials/bottomNav.ejs%>
 
<%- include partials/footer.ejs%>


