<%- include partials/header.ejs%>
  
<%- include partials/mainNav.ejs%>

   <!--Main Content of the Page-->
  <main class="container">
    <div class="jumbotron" style="background-color: white">
      <h1 style="text-align-last: center; color: goldenrod; " class="display-5">  <%= title %>  </h1>
      <hr class="my-4">
    </div>
  </main>

 
<%- include partials/bottomNav.ejs%>
 
<%- include partials/footer.ejs%>


